<section id="recent-blogs" class="my-16">
  <div>
    <!-- these are the recently added blog items -->
    <div class="">
      <h3 class="uppercase font-bold font-RobotoMono text-xl mb-3">Featured Blogs</h3>
      <hr class="w-1/4" />
    </div>

    <!-- blog cards container -->
    <div class="py-5 px-4">
      <!-- here goes blog cards -->
      <div class="grid gap-5 lg:grid-cols-2">
          {% for item in items %}
              {% include 'blogApp/includes/blog_item.html' %}
          <!-- This handles the empty state of the website -->
          {% empty %}
              <div class="col-span-3">
              {% include 'blogApp/includes/empty_state.html' %}
              </div>
          {% endfor %}
      </div>


    </div>

    <!-- this is the see more button -->
    <div class="block text-center my-3">
      <a
        href="{% url 'blogApp:blogs' %}"
        class="uppercase block font-RobotoMono sm:inline-block py-3 px-6 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-800 hover:shadow-md hover:shadow-purple-500 transition delay-200 dark:shadow-purple-400 dark:hover:bg-purple-700"
        >Read more</a
      >
    </div>
  </div>
</section>
