<!-- This is the tag of a blog post -->
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs lowercase">programming</h6>
</div>

<!-- this is for testing -->
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs lowercase">software</h6>
</div>
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs lowercase">product design</h6>
</div>
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs lowercase">UI/UX</h6>
</div>