<!-- This is the tag of a blog post -->
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs uppercase">programming</h6>
</div>

<!-- this is for testing -->
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs uppercase">software</h6>
</div>
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs uppercase">product design</h6>
</div>
<div class="bg-gray-200 py-2 px-4 rounded-full my-1 mr-1">
    <h6 class="text-xs uppercase">UI/UX</h6>
</div>