{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

        {% block title %}
        {% endblock %}
	</head>
	<body class="bg-white leading-normal tracking-normal dark:bg-slate-800">
		{% include 'includes/navbar_component.html' %}
        <div class="min-h-screen px-10 py-7 text-gray-500 dark:text-gray-100 md:px-24 lg:px-44">
            {% block content %}
            {% endblock %}
        </div>
		
		{% include 'includes/footer.html' %}
		<script src="{% static 'js/base.js' %}"></script>
	</body>
</html>
