{% extends 'base.html' %} {% block title %}
<title>About</title>
{% endblock title %} {% block content %}
<div>
  <!-- this is the main about section -->
  <div>
    <h2 class="font-bold text-4xl text-gray-700">Hello there!</h2>
    <p class="mt-2">
      This is the blog site I made using Python and Django. <br />
      You might not see much here but I built this website with the following
      technologies:
    </p>
    <div>
      <!-- front-end technologies goes here -->
      <div class="my-5">
        <h3 class="font-bold mb-4">Front-End</h3>
        <!-- cards container -->
        <div class="px-4 grid grid-cols-2 gap-5 md:grid-cols-4">
          <!-- cards go here -->
          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-8 h-8 sm:w-10 sm:h-10"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
              alt="html5"
            />
            <h4 class="text-gray-700 font-semibold mt-2">HTML</h4>
          </div>

          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-8 h-8 sm:w-10 sm:h-10"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
              alt="css3"
            />
            <h4 class="text-gray-700 font-semibold mt-2">CSS</h4>
          </div>

          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-8 h-8 sm:w-10 sm:h-10"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
              alt="javascript"
            />
            <h4 class="text-gray-700 font-semibold mt-2">JavaScript</h4>
          </div>

          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-8 h-8 sm:w-10 sm:h-10"
              src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-icon.svg"
              alt="tailwind"
            />
            <h4 class="text-gray-700 font-semibold mt-2">Tailwind CSS</h4>
          </div>
        </div>
      </div>

      <!-- back-end technologies goes here -->
      <div class="my-5">
        <h3 class="font-bold mb-4">Back-End</h3>
        <!-- cards container -->
        <div class="px-4 grid grid-cols-3 gap-5">
          <!-- cards go here -->
          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-8 h-8 sm:w-10 sm:h-10"
              src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
              alt="python"
            />
            <h4 class="text-gray-700 font-semibold mt-2">Python</h4>
          </div>

          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-9 h-9 sm:w-10 sm:h-10"
              src="https://static.djangoproject.com/img/logos/django-logo-positive.svg"
              alt="django"
            />
            <h4 class="text-gray-700 font-semibold mt-2">Django</h4>
          </div>

          <div
            class="text-center px-2 py-4 rounded-lg bg-gray-50 shadow-md hover:shadow-lg"
          >
            <img
              class="mx-auto w-8 h-8 sm:w-10 sm:h-10"
              src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg"
              alt="sqlite"
            />
            <h4 class="text-gray-700 font-semibold mt-2">SQLite</h4>
          </div>
        </div>
      </div>
    </div>

    <p>
      The secret ingredient in making this website is 💜, a lot of 💜. If you
      love what you are doing it becomes like your very own pet that you'll try
      to nurture.
    </p>
  </div>
  <!-- this is the section about the graphics that I used -->
  <div class="my-5">
    <h2 class="font-bold text-4xl text-gray-700">The Amazing illustrations</h2>
    <p class="mt-2">
      All the amazing astronaut illustrations in this website has been made by
      the super talented
      <strong class="text-purple-600"
        ><a href="https://www.freepik.com/catalyststuff"
          >@catalyststuff</a
        ></strong
      >. <br />
      <br />
      Check her very lovely works over at
      <a href="https://www.freepik.com/" class="text-purple-700 font-bold"
        >Freepik</a
      >.
    </p>
  </div>
</div>
{% endblock content %}
