{% extends 'base.html' %} {% block title %}
<title>About</title>
{% endblock title %} {% block content %}
<div>
  <!-- this is the main about section -->
  <div>
    <h2 class="font-bold text-4xl">Hello there!</h2>
    <p>
      This is the blog site I made using Python and Django. <br />
      You might not see much here but I built this website with the following
      technologies:
    </p>
    <ul>
      <ul>
        <p><strong>Front-End</strong></p>
        <li>HTML | CSS | JavaScript | Tailwind CSS</li>
      </ul>
      <ul>
        <p><strong>Back-end</strong></p>
        <li>Python | Django | SQLite</li>
      </ul>
    </ul>
    <p>
      The secret ingredient in making this website is 💜, a lot of 💜. <br />
      If you love what you are doing it becomes like your very own pet that
      you'll try to nurture.
    </p>
  </div>
  <!-- this is the section about the graphics that I used -->
  <div class="mt-5">
    <h2 class="font-bold text-4xl">The Amazing illustrations</h2>
    <p>
      All the amazing astronaut illustrations in this website has been made by
      the super talented
      <strong class="text-purple-600"
        ><a href="https://www.freepik.com/catalyststuff"
          >@catalyststuff</a
        ></strong
      >. <br />
      Check her very lovely works over at
      <a href="https://www.freepik.com/" class="text-purple-700 font-semibold"
        >Freepik</a
      >.
    </p>
  </div>
</div>
{% endblock content %}
