{% extends 'base.html' %} {% block title %}
<title>Blog</title>
{% endblock %} {% block content %}
<!-- this is the blog page -->
<div>
  <!-- this is the image of the blog post -->
  <div
    class="my-5 py-5 px-4 flex items-center h-72 bg-no-repeat bg-cover bg-center bg-blend-overlay bg-gray-700 rounded-lg overflow-hidden"
    style="
      background-image: url({{ item.image_url }});
    "
  ></div>
  <!-- this is the blog contents -->
  <!-- insert context data here -->
  <div class="px-4 py-4 text-gray-400">
    <h4 class="font-bold text-4xl text-gray-500">{{ item.title }}</h4>
    <h5 class="text-xs my-4">
      {{ item.timestamp }} by <strong>{{ item.user_id }}</strong>
    </h5>
    <p class="text-md my-4 md:w-3/4">
      {{ item.body | safe }}
    </p>
  </div>
</div>
{% endblock %}
