{% extends 'base.html' %} {% load static %} {% block title %}
<title>Mike Galindez | Home</title>
{% endblock %} {% block content %}
<!-- This is the hero section of the web app -->
<div class="grid sm:grid-cols-2 justify-center items-center mt-10">
  <div class="text-center sm:text-left">
    <h1 class="font-semibold text-5xl text-gray-700">Hi there busy Human!</h1>
    <h2 class="text-sm my-5">
      I am Jerrson and welcome to my simple blog website. <br />
      You're free to critique, don't be shy.
    </h2>
    <div class="block my-5">
      <a
        href=""
        class="block sm:inline-block px-6 text-center bg-purple-600 text-white uppercase font-semibold py-3 rounded-lg hover:bg-purple-800 trnasition delay-200 hover:shadow-md hover:shadow-purple-500"
        >Read my blogs</a
      >
    </div>
  </div>
  <div class="flex items-center justify-center">
    <img
      src="{% static 'images/main-astronaut.png' %}"
      alt="main-astronaut"
      class="max-w-xs"
    />
  </div>
</div>
<!-- here goes the recent blog items -->
{% include 'blogApp/includes/recent_blogs.html' %} 
{% endblock %}
